Repository JECT-Study/JECT-3th-6team, pull requests merged in 2025-06, with the labels that each got.

#6 (Chore/#5) 백엔드 패키지 구조 설정
  backend/src/main/java/com/example/demo/application/dto/package-info.java
  backend/src/main/java/com/example/demo/application/package-info.java
  backend/src/main/java/com/example/demo/application/port/out/package-info.java
  backend/src/main/java/com/example/demo/application/port/package-info.java
  backend/src/main/java/com/example/demo/application/service/package-info.java
  backend/src/main/java/com/example/demo/common/exception/package-info.java
  backend/src/main/java/com/example/demo/common/package-info.java
  backend/src/main/java/com/example/demo/common/util/package-info.java
  backend/src/main/java/com/example/demo/config/package-info.java
  backend/src/main/java/com/example/demo/domain/model/package-info.java
  backend/src/main/java/com/example/demo/domain/package-info.java
  backend/src/main/java/com/example/demo/domain/service/package-info.java
  backend/src/main/java/com/example/demo/infrastructure/external/adapter/package-info.java
  backend/src/main/java/com/example/demo/infrastructure/external/client/package-info.java
  backend/src/main/java/com/example/demo/infrastructure/external/package-info.java
  backend/src/main/java/com/example/demo/infrastructure/package-info.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/adapter/package-info.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/entity/package-info.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/package-info.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/repository/package-info.java
  backend/src/main/java/com/example/demo/package-info.java
  backend/src/main/java/com/example/demo/presentation/controller/package-info.java
  backend/src/main/java/com/example/demo/presentation/dto/package-info.java
  backend/src/main/java/com/example/demo/presentation/package-info.java
Labels: ⚙️chore, 👨🏻‍💻backend

#31 (Feature/#24) 팝업 예약 DB Layer 구현
  backend/src/main/java/com/example/demo/common/entity/BaseEntity.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/entity/MemberEntity.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/entity/ReservationEntity.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/entity/ReservationStatus.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/entity/popup/PopupContentEntity.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/entity/popup/PopupEntity.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/entity/popup/PopupImageEntity.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/entity/popup/PopupImageType.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/entity/popup/PopupSocialEntity.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/entity/popup/PopupTimeSlotEntity.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/entity/popup/PopupType.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/entity/popup/PopupWeeklyScheduleEntity.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/repository/MemberRepository.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/repository/ReservationRepository.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/repository/popup/PopupContentRepository.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/repository/popup/PopupImageRepository.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/repository/popup/PopupRepository.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/repository/popup/PopupSocialRepository.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/repository/popup/PopupTimeSlotRepository.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/repository/popup/PopupWeeklyScheduleRepository.java
Labels: ✨feature, 👨🏻‍💻backend, 🗂️db

#30 (Feature/#27) 팝업 예약 예약 가능한 시간 확인 BE Presentation ~ Domain 레이어 구현
  backend/src/main/java/com/example/demo/application/dto/TimeAvailability.java
  backend/src/main/java/com/example/demo/application/port/out/PopupLoadPort.java
  backend/src/main/java/com/example/demo/application/port/out/ReservationLoadPort.java
  backend/src/main/java/com/example/demo/application/port/out/ReservationSavePort.java
  backend/src/main/java/com/example/demo/application/service/ReservationAvailabilityService.java
  backend/src/main/java/com/example/demo/domain/model/Address.java
  backend/src/main/java/com/example/demo/domain/model/CapacitySchedule.java
  backend/src/main/java/com/example/demo/domain/model/DateTimeSlot.java
  backend/src/main/java/com/example/demo/domain/model/Popup.java
  backend/src/main/java/com/example/demo/domain/model/Reservation.java
  backend/src/main/java/com/example/demo/domain/model/ReservationStatus.java
  backend/src/main/java/com/example/demo/domain/model/TimeRange.java
  backend/src/main/java/com/example/demo/domain/service/ReservationDomainService.java
  backend/src/main/java/com/example/demo/presentation/controller/PopupReservationController.java
  backend/src/main/java/com/example/demo/presentation/dto/ReservationAvailableTimesRequest.java
  backend/src/main/java/com/example/demo/presentation/dto/ReservationTimeSlotDto.java
Labels: ✨feature, 👨🏻‍💻backend

#37 (Feature/#33) 공통 컴포넌트 구현 (인풋, 버튼, 캘린더)
  frontend/package-lock.json
  frontend/package.json
  frontend/public/icons/Color/Icon_Facebook.svg
  frontend/public/icons/Color/Icon_Google.svg
  frontend/public/icons/Color/Icon_Instagram.svg
  frontend/public/icons/Color/Icon_Kakao.svg
  frontend/public/icons/Color/Icon_NaverBlog.svg
  frontend/public/icons/Color/Icon_Youtube.svg
  frontend/public/icons/Navigaion/Icon_Home.svg
  frontend/public/icons/Navigaion/Icon_Map.svg
  frontend/public/icons/Navigaion/Icon_My history.svg
  frontend/public/icons/Navigaion/Icon_Setting.svg
  frontend/public/icons/Normal/Icon_Alert.svg
  frontend/public/icons/Normal/Icon_Bracket_Down.svg
  frontend/public/icons/Normal/Icon_Bracket_Left.svg
  frontend/public/icons/Normal/Icon_Bracket_Right.svg
  frontend/public/icons/Normal/Icon_Bracket_Up.svg
  frontend/public/icons/Normal/Icon_Callendar.svg
  frontend/public/icons/Normal/Icon_Clock.svg
  frontend/public/icons/Normal/Icon_Filter.svg
  frontend/public/icons/Normal/Icon_Minus.svg
  frontend/public/icons/Normal/Icon_Plus.svg
  frontend/public/icons/Normal/Icon_Reload.svg
  frontend/public/icons/Normal/Icon_Search.svg
  frontend/public/icons/Normal/Icon_Star.svg
  frontend/public/icons/Normal/Icon_X.svg
  frontend/public/icons/Normal/Icon_map.svg
  frontend/src/app/(dev)/test/page.tsx
  frontend/src/app/globals.css
  frontend/src/shared/ui/button/StandardButton.tsx
  frontend/src/shared/ui/button/types.ts
  frontend/src/shared/ui/calendar/MonthlyCalendar.tsx
  frontend/src/shared/ui/calendar/lib/dateFormatter.ts
  frontend/src/shared/ui/calendar/lib/makeCalendar.ts
  frontend/src/shared/ui/index.ts
  frontend/src/shared/ui/input/TextInput.tsx
  frontend/src/shared/ui/input/types.ts
Labels: ✨feature, 👩🏻‍💻frontend, pr_created

#43 (Feat/#42/be) 예약 생성 API 구현
  .cursor/rules/be-architecture.mdc
  backend/src/main/java/com/example/demo/application/dto/ReservationCreateInput.java
  backend/src/main/java/com/example/demo/application/dto/ReservationCreateResult.java
  backend/src/main/java/com/example/demo/application/service/ReservationService.java
  backend/src/main/java/com/example/demo/domain/model/Reservation.java
  backend/src/main/java/com/example/demo/domain/service/ReservationDomainService.java
  backend/src/main/java/com/example/demo/presentation/controller/PopupReservationController.java
  backend/src/main/java/com/example/demo/presentation/dto/ReservationCreateRequest.java
  backend/src/main/java/com/example/demo/presentation/dto/ReservationCreateResponse.java
Labels: ✨feature, 👨🏻‍💻backend

#41 (Feat/#38/be) 팝업 예약 기능 BE infrastructure.adapter 구현
  .github/workflows/issue-add-label-when-pr-merge.yml
  .github/workflows/issue-change-project-status-to-code-review.yml
  .github/workflows/issue-change-project-status-when-label-added.yml
  backend/build.gradle
  backend/src/main/java/com/example/demo/domain/model/Reservation.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/adapter/PopupLoadPortAdapter.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/adapter/ReservationLoadPortAdapter.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/adapter/ReservationSavePortAdapter.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/entity/ReservationEntity.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/entity/popup/PopupEntity.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/entity/popup/PopupTimeSlotEntity.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/repository/ReservationRepository.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/repository/popup/PopupTimeSlotRepository.java
Labels: ✨feature, 👨🏻‍💻backend
