Repository JECT-Study/JECT-3th-6team, pull requests merged in 2025-08, with the labels that each got.

#135 Feat/#134 백엔드 오류 처리 추가
  backend/CLAUDE.md
  backend/src/main/java/com/example/demo/application/mapper/NotificationDtoMapper.java
  backend/src/main/java/com/example/demo/application/service/NotificationService.java
  backend/src/main/java/com/example/demo/application/service/OAuth2Service.java
  backend/src/main/java/com/example/demo/application/service/PopupService.java
  backend/src/main/java/com/example/demo/application/service/WaitingService.java
  backend/src/main/java/com/example/demo/common/exception/BusinessException.java
  backend/src/main/java/com/example/demo/common/exception/ErrorResponse.java
  backend/src/main/java/com/example/demo/common/exception/ErrorType.java
  backend/src/main/java/com/example/demo/common/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/example/demo/common/exception/ParameterValidationError.java
  backend/src/main/java/com/example/demo/common/exception/ParameterValidationException.java
  backend/src/main/java/com/example/demo/common/exception/ValidationError.java
  backend/src/main/java/com/example/demo/common/jwt/JwtAuthenticationFilter.java
  backend/src/main/java/com/example/demo/common/jwt/JwtTokenProvider.java
  backend/src/main/java/com/example/demo/common/jwt/TokenValidationResult.java
  backend/src/main/java/com/example/demo/common/security/CustomAccessDeniedHandler.java
  backend/src/main/java/com/example/demo/common/security/CustomAuthenticationEntryPoint.java
  backend/src/main/java/com/example/demo/config/SecurityConfig.java
  backend/src/main/java/com/example/demo/domain/model/popup/OpeningHours.java
  backend/src/main/java/com/example/demo/domain/model/popup/PopupType.java
  backend/src/main/java/com/example/demo/domain/model/popup/WeeklyOpeningHours.java
  backend/src/main/java/com/example/demo/domain/model/waiting/Waiting.java
  backend/src/main/java/com/example/demo/domain/model/waiting/WaitingStatus.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/adapter/NotificationPortAdapter.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/adapter/PopupPortAdapter.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/adapter/ScheduledNotificationPortAdapter.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/mapper/NotificationEntityMapper.java
  backend/src/main/java/com/example/demo/presentation/controller/MemberController.java
  backend/src/main/java/com/example/demo/presentation/controller/OAuthController.java
  backend/src/main/java/com/example/demo/presentation/controller/PopupController.java
  backend/src/test/java/com/example/demo/application/service/WaitingServiceTest.java
  backend/src/test/java/com/example/demo/domain/model/waiting/WaitingTest.java
Labels: ✨feature, 👨🏻‍💻backend

#140 (Feat/#139/fe) SSE 알림 수신 및 홈화면 알림 모달창
  frontend/package.json
  frontend/server.js
  frontend/src/app/(with-navbar)/(home)/page.tsx
  frontend/src/features/notification/api/getNotificationsApi.ts
  frontend/src/features/notification/hook/useNotificationList.ts
  frontend/src/features/notification/hook/useNotificationListener.ts
  frontend/src/features/notification/hook/useNotificationStore.ts
  frontend/src/features/notification/ui/NotificationBell.tsx
  frontend/src/features/notification/ui/NotificationCard.tsx
  frontend/src/features/notification/ui/NotificationModal.tsx
  frontend/src/shared/ui/modal/ModalContainer.tsx
Labels: ✨feature, 👩🏻‍💻frontend, pr_created

#144 Feat/#109/fe
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/public/icons/Normal/Icon_Current_Location.svg
  frontend/src/app/(with-navbar)/map/page.tsx
  frontend/src/assets/icons/Color/Icon_Frame.svg
  frontend/src/assets/icons/Normal/Icon_Current_Location.svg
  frontend/src/assets/icons/Normal/Icon_Search.svg
  frontend/src/entities/map/api/api.ts
  frontend/src/entities/map/api/endpoints.ts
  frontend/src/entities/map/api/index.ts
  frontend/src/entities/map/index.ts
  frontend/src/entities/map/types/type.ts
  frontend/src/features/filtering/ui/KeywordFilterPreview.tsx
  frontend/src/features/map/hook/useMapSearch.ts
  frontend/src/features/map/hook/useSearchMyLocation.ts
  frontend/src/features/map/ui/FilterGroupMapContainer.tsx
  frontend/src/shared/lib/index.ts
  frontend/src/shared/lib/useGeolocation.ts
  frontend/src/shared/ui/input/SearchInput.tsx
  frontend/src/shared/ui/map/KaKaoMap.tsx
  frontend/src/shared/ui/map/MyLocationButton.tsx
  frontend/src/shared/ui/map/index.ts
Labels: 👩🏻‍💻frontend, pr_created

#147 Feat/#146 현장 대기 자동 입장 기능 구현
  backend/docs/todo/record-field-extension-guidelines.md
  backend/docs/waiting-enter-concurrency-analysis.md
  backend/src/main/java/com/example/demo/application/dto/waiting/WaitingMakeVisitRequest.java
  backend/src/main/java/com/example/demo/application/service/ScheduledWaitingEnterService.java
  backend/src/main/java/com/example/demo/application/service/WaitingService.java
  backend/src/main/java/com/example/demo/common/exception/ErrorType.java
  backend/src/main/java/com/example/demo/domain/model/waiting/Waiting.java
  backend/src/main/java/com/example/demo/domain/model/waiting/WaitingQuery.java
  backend/src/main/java/com/example/demo/domain/port/WaitingPort.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/adapter/WaitingPortAdapter.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/mapper/WaitingEntityMapper.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/repository/WaitingJpaRepository.java
  backend/src/main/resources/data.sql
  backend/src/test/java/com/example/demo/application/service/WaitingServiceTest.java
  backend/src/test/java/com/example/demo/domain/model/waiting/WaitingTest.java
Labels: ✨feature, 👨🏻‍💻backend

#138 Feat/#83 알림 메일 전송 기능 구현
  backend/build.gradle
  backend/docs/email-notification-usage.md
  backend/src/main/java/com/example/demo/application/dto/notification/WaitingEntryNotificationRequest.java
  backend/src/main/java/com/example/demo/application/service/EmailNotificationService.java
  backend/src/main/java/com/example/demo/application/service/EmailTemplateService.java
  backend/src/main/java/com/example/demo/application/service/WaitingNotificationService.java
  backend/src/main/java/com/example/demo/config/AsyncConfig.java
  backend/src/main/java/com/example/demo/config/GmailSmtpProperties.java
  backend/src/main/java/com/example/demo/config/SecurityConfig.java
  backend/src/main/java/com/example/demo/domain/model/email/EmailMessage.java
  backend/src/main/java/com/example/demo/domain/port/EmailSendPort.java
  backend/src/main/java/com/example/demo/infrastructure/external/GmailSmtpEmailAdapter.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/data.sql
  backend/src/test/java/com/example/demo/application/service/EmailTemplateServiceTest.java
Labels: ✨feature, 👨🏻‍💻backend

#151 Feat/#150 알림 트리거 조건 변경
  backend/src/main/java/com/example/demo/application/service/ScheduledNotificationBatchService.java
  backend/src/main/java/com/example/demo/application/service/WaitingNotificationService.java
  backend/src/main/java/com/example/demo/application/service/WaitingService.java
  backend/src/main/java/com/example/demo/domain/model/notification/ScheduledNotificationTrigger.java
  backend/src/main/java/com/example/demo/domain/model/popup/OpeningHours.java
  backend/src/main/java/com/example/demo/domain/model/waiting/Waiting.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/entity/WaitingEntity.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/mapper/WaitingEntityMapper.java
  backend/src/main/resources/data.sql
Labels: ✨feature, 👨🏻‍💻backend

#155 Feat/#149/fe
  frontend/src/app/(with-navbar)/map/page.tsx
  frontend/src/entities/map/api/api.ts
  frontend/src/entities/map/api/index.ts
  frontend/src/features/map/hook/useSearchMyLocation.ts
  frontend/src/features/map/ui/FilterGroupMapContainer.tsx
  frontend/src/shared/lib/index.ts
  frontend/src/shared/lib/useGetMapBounds.ts
  frontend/src/shared/ui/input/SearchInput.tsx
  frontend/src/shared/ui/map/KaKaoMap.tsx
Labels: ✨feature, 👩🏻‍💻frontend

#159 fix : SSR 빌드 오류
  frontend/src/app/(with-navbar)/(home)/page.tsx
Labels: 🐛bug

#164 BUG / #163 표준시로 설정된 타임존 수정
  backend/src/main/java/com/example/demo/Demo2Application.java
Labels: 🐛bug, 👨🏻‍💻backend, 💻server

#169 Feat/#160/fe
  frontend/public/icons/Color/Icon_MyLocation.svg
  frontend/public/icons/Color/Icon_SearchCurrentLocation.svg
  frontend/src/app/(with-navbar)/map/page.tsx
  frontend/src/app/detail/[popupId]/page.tsx
  frontend/src/assets/icons/Color/Icon_MyLocation.svg
  frontend/src/assets/icons/Color/Icon_SearchCurrentLocation.svg
  frontend/src/entities/popup/detail/api/api.ts
  frontend/src/entities/popup/detail/api/endpoints.ts
  frontend/src/entities/popup/detail/types/type.ts
  frontend/src/features/map/hook/useSearchMyLocation.ts
  frontend/src/features/map/ui/FilterGroupMapContainer.tsx
  frontend/src/shared/ui/map/KaKaoMap.tsx
  frontend/src/shared/ui/map/MyLocationButton.tsx
Labels: ✨feature, 👩🏻‍💻frontend

#170 (Bug/#168/fe) 2차 QA 반영
  frontend/src/app/(protected)/reservation/complete/[popupId]/page.tsx
  frontend/src/app/(protected)/reservation/complete/[waitingId]/page.tsx
  frontend/src/features/filtering/hook/useFilter.ts
  frontend/src/features/reservation/hook/usePostReservation.ts
  frontend/src/features/reservation/ui/OnsiteReservationContainer.tsx
  frontend/src/features/reservation/ui/ReservationSummaryView.tsx
  frontend/src/shared/ui/header/PageHeader.tsx
  frontend/src/shared/ui/input/NumberInput.tsx
Labels: 🐛bug, 👩🏻‍💻frontend

#173 Feat/#172/fe : 유저 정보 전역 상태 관리 방식 개선
  frontend/src/app/layout.tsx
  frontend/src/entities/user/lib/AuthProvider.tsx
  frontend/src/entities/user/lib/UserInitProvider.tsx
  frontend/src/entities/user/lib/useUserStore.ts
  frontend/src/features/notification/ui/NotificationBell.tsx
  frontend/src/shared/lib/API.ts
  frontend/src/shared/lib/handleUnauthorized.ts
Labels: ✨feature, 👩🏻‍💻frontend

#177 Bug/#175/fe : 현장대기, 알림 핑 에러
  frontend/src/app/(protected)/layout.tsx
  frontend/src/app/layout.tsx
  frontend/src/entities/user/lib/useUserStore.ts
  frontend/src/features/auth/lib/AuthGuard.tsx
  frontend/src/features/auth/lib/AuthProvider.tsx
  frontend/src/features/notification/hook/useReadNotification.ts
  frontend/src/features/notification/ui/NotificationBell.tsx
  frontend/src/features/notification/ui/NotificationModal.tsx
Labels: 🐛bug

#176 Bug/#174/fe
  frontend/src/app/detail/[popupId]/page.tsx
  frontend/src/entities/popup/detail/api/api.ts
  frontend/src/entities/popup/detail/api/endpoints.ts
  frontend/src/entities/popup/detail/types/type.ts
  frontend/src/entities/popup/lib/convertDayOfWeekToKorean.ts
  frontend/src/features/detail/ui/DescriptionTab.tsx
Labels: 🐛bug, 👩🏻‍💻frontend, pr_created

#184 (Bug/#183/fe) 데스크탑 로고 이미지 고정 위치 변경
  frontend/src/app/(app)/(auth)/kakao/page.tsx
  frontend/src/app/(app)/(protected)/layout.tsx
  frontend/src/app/(app)/layout.tsx
  frontend/src/features/auth/ui/Kakao.tsx
Labels: 🐛bug, 👩🏻‍💻frontend

#187 (Bug/#185/fe) iOS 안전한 날짜 파싱
  frontend/src/entities/popup/lib/dateToPeriodString.ts
  frontend/src/entities/popup/lib/popupMapper.tsx
Labels: 🐛bug

#191 Feat/#190/fe
  frontend/src/entities/popup/detail/api/endpoints.ts
  frontend/src/features/map/ui/FilterGroupMapContainer.tsx
Labels: ✨feature, 🐛bug, 👩🏻‍💻frontend, pr_created

#193 Feat/#158 임시 관리자 페이지 구현
  backend/.gitignore
  backend/src/main/java/com/example/demo/application/dto/image/ImageUploadResponse.java
  backend/src/main/java/com/example/demo/application/dto/popup/PopupCreateRequest.java
  backend/src/main/java/com/example/demo/application/mapper/PopupDtoMapper.java
  backend/src/main/java/com/example/demo/application/mapper/WaitingDtoMapper.java
  backend/src/main/java/com/example/demo/application/service/ImageService.java
  backend/src/main/java/com/example/demo/application/service/PopupService.java
  backend/src/main/java/com/example/demo/config/SecurityConfig.java
  backend/src/main/java/com/example/demo/config/WebConfig.java
  backend/src/main/java/com/example/demo/domain/model/popup/PopupDisplay.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/adapter/PopupPortAdapter.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/mapper/PopupEntityMapper.java
  backend/src/main/java/com/example/demo/presentation/controller/ImageController.java
  backend/src/main/java/com/example/demo/presentation/controller/PopupController.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/static/admin-popup-create.html
  backend/src/main/resources/static/admin-popup-create.js
  backend/src/test/java/com/example/demo/application/mapper/WaitingDtoMapperTest.java
  backend/src/test/java/com/example/demo/application/service/EmailTemplateServiceTest.java
  backend/src/test/java/com/example/demo/application/service/WaitingServiceTest.java
  backend/src/test/java/com/example/demo/domain/model/waiting/WaitingTest.java
  backend/src/test/java/com/example/demo/infrastructure/persistence/adapter/WaitingPortAdapterTest.java
  backend/관리자페이지_분석보고서.md
Labels: ✨feature, 👨🏻‍💻backend

#197 Bug/#196
  backend/src/main/java/com/example/demo/application/mapper/PopupDtoMapper.java
Labels: 🐛bug, 👨🏻‍💻backend

#201 Feat/#200 h2->supabase로 수정
  backend/build.gradle
  backend/src/main/resources/application.yml
  backend/src/main/resources/data.sql
  backend/src/main/resources/static/admin-popup-create.html
Labels: 👨🏻‍💻backend, 🗂️db

#203 Bug/#202 팝업 목록 조회 쿼리 수정
  backend/src/main/java/com/example/demo/infrastructure/persistence/repository/PopupJpaRepository.java
Labels: 🐛bug

#208 Bug/#198
  backend/src/main/java/com/example/demo/application/mapper/PopupDtoMapper.java
  backend/src/main/java/com/example/demo/domain/model/popup/PopupMapQuery.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/adapter/PopupPortAdapter.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/repository/PopupJpaRepository.java
Labels: 🐛bug, 👨🏻‍💻backend

#199 (Feat/#195/fe) 랜딩 페이지 UI/콘텐츠 변경, 홈화면 QR 이미지 추가
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/(app)/layout.tsx
  frontend/src/app/globals.css
  frontend/src/app/landing/page.tsx
  frontend/src/app/qr/feedback/route.ts
  frontend/src/entities/popup/ui/PopupCardView.tsx
  frontend/src/scripts/generate-qr.ts
  frontend/src/widgets/landing/ui/LandingStart.tsx
Labels: 👩🏻‍💻frontend

#211 Bug/#210/fe : Next.config 에 이미지 경로 도메인 추가
  frontend/next.config.ts
Labels: 🐛bug

#229 Bug/#228/fe
  frontend/package.json
  frontend/src/app/(app)/detail/[popupId]/page.tsx
  frontend/src/features/map/ui/FilterGroupMapContainer.tsx
  frontend/src/shared/lib/requestCameraAccess.ts
Labels: ✨feature, 👩🏻‍💻frontend, pr_created

#231 Bug/#230/fe
  frontend/src/features/map/ui/FilterGroupMapContainer.tsx
  frontend/src/shared/lib/requestCameraAccess.ts
Labels: ✨feature, 👩🏻‍💻frontend, pr_created

#247 Bug/#246/fe
  README.md
  frontend/src/app/qr/feedback/route.ts
Labels: 🐛bug

#250 Develop
  .github/workflows/mirror-to-fork.yml
  README.md
  frontend/src/app/qr/feedback/route.ts
Labels: ⚙️chore

#254 feat: 자동 배포 환경 분리
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
Labels: ✨feature, 👨🏻‍💻backend

#257 Feat/#255 백엔드 스프링 프로파일 분리
  .github/workflows/deploy-dev.yml
  .github/workflows/pr-notification.yml
  .github/workflows/pr-review-notification.yml
  backend/build.gradle
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-local.yml
  backend/src/main/resources/application-prod.yml
  backend/src/main/resources/application.yml
Labels: 👨🏻‍💻backend, 💻server

#258 Feat/#256 프로메테우스 메트릭 활성화
  .github/workflows/deploy-prod.yml
  backend/build.gradle
  backend/src/main/java/com/example/demo/config/SecurityConfig.java
  backend/src/main/java/com/example/demo/config/WebConfig.java
  backend/src/main/java/com/example/demo/presentation/controller/NotificationController.java
  backend/src/main/resources/application-prod.yml
  backend/src/main/resources/static/index.html
  backend/src/main/resources/static/index.js
Labels: ✨feature, 👨🏻‍💻backend, 💻server

#261 feat/#260 프로덕션 무중단 배포 구성
  .github/workflows/deploy-prod.yml
Labels: ✨feature, 👨🏻‍💻backend, 💻server

#265 feat: 의존성 추가 및 Q클래스 생성 테스트
  backend/build.gradle
  backend/src/test/java/com/example/demo/QuerydslTest.java
Labels: 👨🏻‍💻backend
