Repository JECT-Study/JECT-3th-6team, pull requests merged in 2025-09, with the labels that each got.

#272 Develop : GTM 초기화 방식 변경, popup_click 이벤트 전송 프로덕션 배포
  backend/build.gradle
  backend/src/test/java/com/example/demo/QuerydslTest.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/layout.tsx
  frontend/src/features/detail/ui/PopupDetailContent.tsx
  frontend/src/shared/lib/GTMInit.tsx
  frontend/src/shared/lib/extractLinkMetaFromButton.ts
  frontend/src/shared/lib/index.ts
  frontend/src/shared/ui/button/types.ts
Labels: 👩🏻‍💻frontend

#268 refactor/#267 PopupPortAdapter.findByQuery QueryDSL 적용
  backend/docs/refactor/267/QueryDSL_Filter_Test_Scenarios.md
  backend/src/main/java/com/example/demo/infrastructure/persistence/adapter/PopupPortAdapter.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/config/QueryDslConfig.java
  backend/src/main/resources/application-local.yml
  backend/src/main/resources/application.yml
  backend/src/main/resources/data.sql
Labels: 👨🏻‍💻backend, 🪄refactor

#280 Refactor/#278/fe : 알림삭제에 대한 퍼포먼스 모니터링용 코드 추가
  frontend/src/features/notification/ui/NotificationCardList.tsx
  frontend/src/features/notification/ui/NotificationCardListView.tsx
Labels: 🪄refactor

#299 Feat/#297/fe : 브라우저 히스토리 정리
  frontend/src/app/(app)/(auth)/login/page.tsx
  frontend/src/app/(app)/(protected)/layout.tsx
  frontend/src/features/auth/lib/PublicGuard.tsx
  frontend/src/features/reservation/hook/usePostReservation.ts
Labels: ✨feature, 🐛bug, 👩🏻‍💻frontend

#305 Revert "FIX todo 및 제약조건 제거"
  backend/src/main/java/com/example/demo/application/dto/popup/PopupCreateRequest.java
  backend/src/main/java/com/example/demo/application/dto/popup/PopupFilterRequest.java
  backend/src/main/java/com/example/demo/application/dto/popup/PopupMapRequest.java
  backend/src/main/java/com/example/demo/application/mapper/PopupDtoMapper.java
  backend/src/main/java/com/example/demo/application/service/PopupService.java
  backend/src/main/java/com/example/demo/application/service/ScheduledNotificationBatchService.java
  backend/src/main/java/com/example/demo/application/service/WaitingService.java
  backend/src/main/java/com/example/demo/config/SecurityConfig.java
  backend/src/main/java/com/example/demo/domain/model/CursorResult.java
  backend/src/main/java/com/example/demo/domain/model/popup/PopupQuery.java
  backend/src/main/java/com/example/demo/domain/model/popup/PopupType.java
  backend/src/main/java/com/example/demo/domain/model/popup/WeeklyOpeningHours.java
  backend/src/main/java/com/example/demo/domain/model/waiting/Waiting.java
  backend/src/main/java/com/example/demo/domain/model/waiting/WaitingStatus.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/adapter/PopupPortAdapter.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/adapter/WaitingPortAdapter.java
  backend/src/main/java/com/example/demo/presentation/controller/ImageController.java
  backend/src/main/java/com/example/demo/presentation/controller/PopupController.java
Labels: 👨🏻‍💻backend

#313 Feat/#312 팝업 목록 api 응답에 예약 수 추가
  backend/src/main/java/com/example/demo/application/dto/popup/PopupCursorResponse.java
  backend/src/main/java/com/example/demo/application/mapper/PopupDtoMapper.java
  backend/src/main/java/com/example/demo/application/service/PopupService.java
  backend/src/main/resources/application-local.yml
Labels: ✨feature, 👨🏻‍💻backend
