Repository JECT-Study/JECT-3th-6team, pull requests merged in 2025-07, with the labels that each got.

#55 Feat/#36/fe
  frontend/components.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/(dev)/example/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/page.tsx
  frontend/src/app/shared/ui/badge/Badge.tsx
  frontend/src/app/shared/ui/badge/BadgeExample.tsx
  frontend/src/app/shared/ui/chip/Chip.tsx
  frontend/src/app/shared/ui/chip/ChipExample.tsx
  frontend/src/app/shared/ui/tag/Tag.tsx
  frontend/src/app/shared/ui/tag/TagExample.tsx
  frontend/src/app/shared/ui/tag/types.ts
  frontend/src/app/shared/ui/text/BoldText.tsx
  frontend/src/app/shared/ui/text/MediumText.tsx
  frontend/src/app/shared/ui/text/RegularText.tsx
  frontend/src/app/shared/ui/text/SemiBoldText.tsx
  frontend/src/app/shared/ui/text/types.ts
  frontend/src/components/ui/badge.tsx
  frontend/src/lib/utils.ts
  frontend/tsconfig.json
Labels: ✨feature, 👩🏻‍💻frontend, pr_created

#74 feat/#72 현장대기 신청 API 명세 수정
  backend/src/main/java/com/example/demo/application/dto/WaitingCreateResponse.java
  backend/src/main/java/com/example/demo/application/mapper/WaitingDtoMapper.java
  backend/src/main/java/com/example/demo/application/service/WaitingService.java
  backend/src/main/java/com/example/demo/domain/port/BrandStoryPortImpl.java
  backend/src/test/java/com/example/demo/application/mapper/WaitingDtoMapperTest.java
  backend/src/test/java/com/example/demo/application/service/WaitingServiceTest.java
Labels: ✨feature, 👨🏻‍💻backend

#76 feat/#73 내 방문/예약 내역 조회 API 필드 추가
  backend/src/main/java/com/example/demo/application/dto/WaitingResponse.java
  backend/src/main/java/com/example/demo/application/dto/waiting/PopupDtoForWaitingResponse.java
  backend/src/main/java/com/example/demo/application/dto/waiting/VisitHistoryCursorResponse.java
  backend/src/main/java/com/example/demo/application/dto/waiting/WaitingCreateRequest.java
  backend/src/main/java/com/example/demo/application/dto/waiting/WaitingCreateResponse.java
  backend/src/main/java/com/example/demo/application/dto/waiting/WaitingResponse.java
  backend/src/main/java/com/example/demo/application/mapper/WaitingDtoMapper.java
  backend/src/main/java/com/example/demo/application/service/WaitingService.java
  backend/src/main/java/com/example/demo/presentation/controller/WaitingController.java
  backend/src/test/java/com/example/demo/application/mapper/WaitingDtoMapperTest.java
  backend/src/test/java/com/example/demo/application/service/WaitingServiceTest.java
Labels: ✨feature, 👨🏻‍💻backend

#78 Bug/#77 내 방문/예약 내역 조회 API 오류 수정
  backend/src/main/java/com/example/demo/Demo2Application.java
  backend/src/main/java/com/example/demo/application/service/WaitingService.java
  backend/src/main/java/com/example/demo/domain/model/waiting/WaitingQuery.java
  backend/src/main/java/com/example/demo/domain/model/waiting/WaitingStatus.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/adapter/PopupPortAdapter.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/adapter/WaitingPortAdapter.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/mapper/PopupEntityMapper.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/repository/PopupJpaRepository.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/repository/WaitingJpaRepository.java
  backend/src/test/java/com/example/demo/application/mapper/WaitingDtoMapperTest.java
  backend/src/test/java/com/example/demo/application/service/WaitingServiceTest.java
  backend/src/test/java/com/example/demo/domain/model/waiting/WaitingTest.java
  backend/src/test/java/com/example/demo/infrastructure/persistence/adapter/WaitingPortAdapterTest.java
Labels: 🐛bug, 👨🏻‍💻backend

#92 (Feat/#47) 팝업 리스트 조회 API 구현
  backend/src/main/java/com/example/demo/application/dto/popup/PopupCursorResponse.java
  backend/src/main/java/com/example/demo/application/dto/popup/PopupFilterRequest.java
  backend/src/main/java/com/example/demo/application/dto/popup/PopupSummaryResponse.java
  backend/src/main/java/com/example/demo/application/dto/waiting/WaitingResponse.java
  backend/src/main/java/com/example/demo/application/mapper/PopupDtoMapper.java
  backend/src/main/java/com/example/demo/application/mapper/WaitingDtoMapper.java
  backend/src/main/java/com/example/demo/application/service/PopupService.java
  backend/src/main/java/com/example/demo/domain/model/popup/PopupQuery.java
  backend/src/main/java/com/example/demo/domain/model/popup/PopupType.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/adapter/PopupPortAdapter.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/repository/PopupJpaRepository.java
  backend/src/main/java/com/example/demo/presentation/controller/PopupController.java
  backend/src/test/java/com/example/demo/application/service/WaitingServiceTest.java
Labels: ✨feature, 👨🏻‍💻backend, 📃docs

#98 Feat/#82 알림 조회 API 구현
  backend/src/main/java/com/example/demo/application/dto/notification/NotificationListRequest.java
  backend/src/main/java/com/example/demo/application/dto/notification/NotificationListResponse.java
  backend/src/main/java/com/example/demo/application/dto/notification/NotificationResponse.java
  backend/src/main/java/com/example/demo/application/dto/notification/RelatedResourceResponse.java
  backend/src/main/java/com/example/demo/application/mapper/NotificationDtoMapper.java
  backend/src/main/java/com/example/demo/application/service/NotificationService.java
  backend/src/main/java/com/example/demo/domain/model/CursorResult.java
  backend/src/main/java/com/example/demo/domain/model/notification/DomainEvent.java
  backend/src/main/java/com/example/demo/domain/model/notification/Notification.java
  backend/src/main/java/com/example/demo/domain/model/notification/NotificationQuery.java
  backend/src/main/java/com/example/demo/domain/model/notification/NotificationSortOrder.java
  backend/src/main/java/com/example/demo/domain/model/notification/NotificationStatus.java
  backend/src/main/java/com/example/demo/domain/model/notification/ReadStatus.java
  backend/src/main/java/com/example/demo/domain/model/waiting/WaitingDomainEvent.java
  backend/src/main/java/com/example/demo/domain/model/waiting/WaitingEventType.java
  backend/src/main/java/com/example/demo/domain/port/NotificationPort.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/adapter/NotificationPortAdapter.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/entity/NotificationEntity.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/mapper/NotificationEntityMapper.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/repository/NotificationJpaRepository.java
  backend/src/main/java/com/example/demo/presentation/controller/NotificationController.java
  backend/src/main/resources/data.sql
  backend/src/test/java/com/example/demo/infrastructure/persistence/adapter/WaitingPortAdapterTest.java
Labels: ✨feature, 👨🏻‍💻backend, 🗂️db

#99 (Feat/#96) 카카오 로그인 구현 및 인증설정
  backend/.gitignore
  backend/build.gradle
  backend/src/main/java/com/example/demo/application/dto/member/MeResponse.java
  backend/src/main/java/com/example/demo/application/dto/oauth/KakaoTokenResponse.java
  backend/src/main/java/com/example/demo/application/dto/oauth/KakaoUserInfoResponse.java
  backend/src/main/java/com/example/demo/application/service/OAuth2Service.java
  backend/src/main/java/com/example/demo/application/service/WaitingService.java
  backend/src/main/java/com/example/demo/common/jwt/JwtAuthenticationFilter.java
  backend/src/main/java/com/example/demo/common/jwt/JwtProperties.java
  backend/src/main/java/com/example/demo/common/jwt/JwtTokenProvider.java
  backend/src/main/java/com/example/demo/common/security/UserPrincipal.java
  backend/src/main/java/com/example/demo/common/util/CookieUtils.java
  backend/src/main/java/com/example/demo/config/RestTemplateConfig.java
  backend/src/main/java/com/example/demo/config/SecurityConfig.java
  backend/src/main/java/com/example/demo/domain/model/OAuthAccount.java
  backend/src/main/java/com/example/demo/domain/model/OAuthProvider.java
  backend/src/main/java/com/example/demo/domain/port/MemberPort.java
  backend/src/main/java/com/example/demo/domain/port/OAuthAccountPort.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/adapter/MemberPortAdapter.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/adapter/OAuthAccountPortAdapter.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/entity/OAuthAccountEntity.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/mapper/MemberEntityMapper.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/mapper/OAuthAccountEntityMapper.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/repository/OAuthAccountJpaRepository.java
  backend/src/main/java/com/example/demo/presentation/controller/MemberController.java
  backend/src/main/java/com/example/demo/presentation/controller/NotificationController.java
  backend/src/main/java/com/example/demo/presentation/controller/OAuthController.java
  backend/src/main/java/com/example/demo/presentation/controller/PopupController.java
  backend/src/main/java/com/example/demo/presentation/controller/WaitingController.java
  backend/src/main/java/com/example/demo/presentation/controller/handler/OAuth2FailureHandler.java
  backend/src/main/java/com/example/demo/presentation/controller/handler/OAuth2SuccessHandler.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/example/demo/application/service/WaitingServiceTest.java
Labels: ✨feature, 👨🏻‍💻backend

#101 Feat/#85/fe
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/public/icons/Color/Icon_Map.svg
  frontend/public/icons/Color/Icon_NormalMinus.svg
  frontend/src/app/detail/[popupId]/data.ts
  frontend/src/app/detail/[popupId]/map/page.tsx
  frontend/src/app/detail/[popupId]/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/assets/icons/Color/Icon_Facebook.svg
  frontend/src/assets/icons/Color/Icon_Google.svg
  frontend/src/assets/icons/Color/Icon_Instagram.svg
  frontend/src/assets/icons/Color/Icon_Kakao.svg
  frontend/src/assets/icons/Color/Icon_Map.svg
  frontend/src/assets/icons/Color/Icon_NaverBlog.svg
  frontend/src/assets/icons/Color/Icon_NormalMinus.svg
  frontend/src/assets/icons/Color/Icon_Youtube.svg
  frontend/src/features/detail/ui/DescriptionTab.tsx
  frontend/src/features/detail/ui/ImageCarousel.tsx
  frontend/src/shared/ui/badge/Badge.tsx
  frontend/src/shared/ui/button/StandardButton.tsx
  frontend/src/shared/ui/index.ts
  frontend/src/shared/ui/map/CircleMap.tsx
  frontend/src/shared/ui/map/KaKaoMap.tsx
  frontend/src/shared/ui/map/MarkerClusterMap.tsx
  frontend/src/shared/ui/map/types.ts
  frontend/src/shared/ui/text/MediumText.tsx
  frontend/src/shared/ui/text/RegularText.tsx
  frontend/tsconfig.json
Labels: 👩🏻‍💻frontend, pr_created

#111 bug/#110 내 예약/방문 내역 API 응답에 registeredAt 추가
  backend/src/main/java/com/example/demo/application/dto/waiting/WaitingResponse.java
  backend/src/main/java/com/example/demo/application/mapper/WaitingDtoMapper.java
  backend/src/test/java/com/example/demo/application/service/WaitingServiceTest.java
Labels: 🐛bug, 👨🏻‍💻backend

#100 (Feat/#94/fe) 소셜로그인/설정 페이지 구현
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/public/images/kakao-login-large.png
  frontend/public/images/spotit-logo.png
  frontend/src/app/(auth)/login/fail/page.tsx
  frontend/src/app/(auth)/login/page.tsx
  frontend/src/app/(with-navbar)/(home)/layout.tsx
  frontend/src/app/(with-navbar)/(home)/page.tsx
  frontend/src/app/(with-navbar)/layout.tsx
  frontend/src/app/(with-navbar)/setting/mypage/page.tsx
  frontend/src/app/(with-navbar)/setting/page.tsx
  frontend/src/entities/settings/constants/menu.ts
  frontend/src/entities/settings/ui/MenuList.tsx
  frontend/src/entities/user/hook/useInitUser.ts
  frontend/src/entities/user/lib/UserInitProvider.tsx
  frontend/src/entities/user/lib/useUserStore.ts
  frontend/src/entities/user/ui/UserStateCard.tsx
  frontend/src/features/auth/constant/KakaoLoginFailReasonMap.ts
  frontend/src/features/auth/hook/useKakaoLoginUrl.ts
  frontend/src/features/auth/hook/useLogout.ts
  frontend/src/features/auth/index.ts
  frontend/src/features/auth/ui/KakaoLoginButton.tsx
  frontend/src/features/auth/ui/Login.tsx
  frontend/src/features/auth/ui/LogoutButton.tsx
  frontend/src/shared/ui/calendar/hook/useCalendar.ts
Labels: 👩🏻‍💻frontend

#103 Feat/#84 알림 정책에 따른 알림 생성
  backend/src/main/java/com/example/demo/Demo2Application.java
  backend/src/main/java/com/example/demo/application/service/ScheduledNotificationBatchService.java
  backend/src/main/java/com/example/demo/application/service/WaitingNotificationService.java
  backend/src/main/java/com/example/demo/application/service/WaitingService.java
  backend/src/main/java/com/example/demo/domain/model/notification/ScheduledNotification.java
  backend/src/main/java/com/example/demo/domain/model/notification/ScheduledNotificationQuery.java
  backend/src/main/java/com/example/demo/domain/model/notification/ScheduledNotificationTrigger.java
  backend/src/main/java/com/example/demo/domain/model/waiting/WaitingQuery.java
  backend/src/main/java/com/example/demo/domain/port/ScheduledNotificationPort.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/adapter/NotificationPortAdapter.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/adapter/ScheduledNotificationPortAdapter.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/entity/ScheduledNotificationEntity.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/mapper/ScheduledNotificationEntityMapper.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/repository/ScheduledNotificationJpaRepository.java
  backend/src/main/java/com/example/demo/presentation/controller/NotificationController.java
  backend/src/main/resources/data.sql
  backend/src/test/java/com/example/demo/application/service/WaitingServiceTest.java
Labels: ✨feature, 👨🏻‍💻backend

#113 Feat/#112
  backend/src/main/java/com/example/demo/application/dto/popup/PopupFilterRequest.java
  backend/src/main/java/com/example/demo/application/mapper/PopupDtoMapper.java
  backend/src/main/java/com/example/demo/domain/model/popup/PopupQuery.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/adapter/PopupPortAdapter.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/repository/PopupJpaRepository.java
Labels: ✨feature, 👨🏻‍💻backend

#118 fix/#117 PopupSummaryResponse searchTags 데이터 추가
  backend/src/main/java/com/example/demo/application/dto/popup/PopupSummaryResponse.java
  backend/src/main/java/com/example/demo/application/mapper/PopupDtoMapper.java
  backend/src/main/java/com/example/demo/application/mapper/WaitingDtoMapper.java
  backend/src/test/java/com/example/demo/application/service/WaitingServiceTest.java
Labels: 🐛bug, 👨🏻‍💻backend

#120 Feat/#119 방문/예약 단건 조회 구현
  backend/src/main/java/com/example/demo/application/mapper/PopupDtoMapper.java
  backend/src/main/java/com/example/demo/application/service/WaitingService.java
  backend/src/main/java/com/example/demo/domain/model/CursorResult.java
  backend/src/main/java/com/example/demo/domain/port/WaitingPort.java
  backend/src/main/java/com/example/demo/infrastructure/persistence/adapter/WaitingPortAdapter.java
  backend/src/main/java/com/example/demo/presentation/controller/WaitingController.java
  backend/src/test/java/com/example/demo/application/service/WaitingServiceTest.java
Labels: ✨feature, 👨🏻‍💻backend

#126 (Fix/#125/fe) : 빌드오류(잘못된 import 경로) 해결
  frontend/src/features/filtering/ui/FilteredPopupList.tsx
  frontend/src/shared/ui/badge/Badge.tsx
Labels: ⚙️chore, 🐛bug

#122 (Feat/#121/fe) APIBuilder 추가, 홈화면 팝업조회 api 연결
  frontend/next.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/(with-navbar)/(home)/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/reservation/detail/[waitingId]/page.tsx
  frontend/src/entities/popup/api/data.ts
  frontend/src/entities/popup/api/getPopupListApi.ts
  frontend/src/entities/popup/lib/adapHistoryToDefaultCard.ts
  frontend/src/entities/popup/lib/formatSearchTags.ts
  frontend/src/entities/popup/lib/popupMapper.tsx
  frontend/src/entities/popup/types/PopupListItem.ts
  frontend/src/entities/popup/ui/PopupBadge.tsx
  frontend/src/entities/popup/ui/PopupCardListSuspenseFallback.tsx
  frontend/src/entities/popup/ui/PopupCardSkeleton.tsx
  frontend/src/entities/popup/ui/PopupCardView.tsx
  frontend/src/features/filtering/ui/FilteredPopupList.tsx
  frontend/src/shared/lib/API.ts
  frontend/src/shared/lib/APIBuilder.ts
  frontend/src/shared/lib/ReactQueryClientProvider.tsx
  frontend/src/shared/lib/index.ts
  frontend/src/shared/lib/logError.ts
  frontend/src/shared/lib/useDebounce.ts
  frontend/src/shared/type/api.ts
Labels: ✨feature, 👩🏻‍💻frontend, pr_created
